<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ERP | Dues</title>
    <script>
        function validate(){
            var attr = {{ attr|safe }}
            var r = document.due_form.room_fees.value;
            //var m = document.due_form.mess_fees.value;
            if(r > attr[1]){
                alert('Amount can not be greater than Dues');
                return false;
            }
            else if(r>attr[3]){
                alert("You don't have enough balance");
                return false;
            }

        }
    </script>
</head>
<body>
    <center>
        {% if attr %}
        <table border="0" align="center" cellspacing="10" cellpadding="10">
            <tr>
                <th>Student ID</th><th>Fees Due</th><th>Total</th><th>Wallet Balance</th>
            </tr>
            <tr>
                {% for i in attr %}
                <td align="center" id=> {{ i }}</td>
                {% endfor %}
            </tr>
        </table>
        <form name='due_form' action="/dues/update_dues/" method="post" onsubmit="return validate()">
            {% csrf_token %}
            <input type="text" readonly="readonly" name="student_id" value= {{ attr.0 }} >
            <input type="text" required="required" placeholder="Enter the amount to be paid" value="" name="room_fees" id="rf">
            <input type="submit" value="Submit">
        </form>
        {% else %}
        <h3>Student Id not found</h3>
        {% endif %}
    </center>
</body>
</html>