<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>
			{{trans_id}}
		</title>
        <style>
			td{
				font-size:15px;
			}
			th{
				font-size:15px;
			}
		</style>
		<script>
			function checkduedate(){
				alert("hello");
				var bal=parseInt(document.getElementById("balance").innerHTML);
				if(bal==0.0){
					document.getElementById("next_due_date").innerHTML="";
				}
			}
		</script>
	</head>
	<body onload="checkduedate()">
		<div style="height:30%; width:100%;" align="center">
			<div style="height:100%; width:40%;position:relative" align="center">
			<br>
				<p style="font-size:25px"><b>SMART ERP SOLUTIONS</b></p>
				<p style="font-size:15px">Payment Receipt</p>
			</div>
		</div>
		<div id="content" style="width:100%;top:60%" align="center">
			<table style="width:60%" border="0" cellpadding="5px" cellspacing="5px">
				<tr>
					<th align="center">Transaction ID</th><td align="center">{{ trans_id }}</td>
				</tr>
				<tr>
					<th align="center">Transaction Date</th><td align="center">{{ trans_date }}</td>
				</tr>
				<tr>
					<th align="center">Student ID</th><td align="center">{{sid}}</td>
				</tr>
				<tr>
					<th align="center">Student Name</th><td align="center">{{ student_name }}</td>
				</tr>
			</table>
			<br>
			<br>
			<table style="width:60%" border="0" cellpadding="5px" cellspacing="5px">
				<tr>
					<th align="center">Particulars</th>
					<th align="center">Total Amount Paid</th>
				</tr>
				<tr>
					<td align="center">{{ particulars }}</td>
					<td align="center">{{ total_paid }}</td>
				</tr>
			</table>
			<p style="font-size:20px"><b>Payment Details</b></p>
			<table style="width:60%" border="0" frame="box" cellpadding="5px" cellspacing="5px">
				<tr>
					<th align="center">Payment Mode</th><td align="center">{{ pmode }}</td>
				</tr>
				<tr>
					<th align="center">Cheque/DD Number</th><td align="center">{{ cheque_no }}</td>
				</tr>
				<tr>
					<th align="center">Fee Paid</th><td align="center">{{ fees_paid }}</td>
				</tr>
				<tr>
					<th align="center">Fine Paid(If Any)</th><td align="center">{{ fine }}</td>
				</tr>
				<tr>
					<th align="center">Balance</th><td id="balance" align="center">{{ balance }}</td>
				</tr>
				<tr>
					<th align="center">Total Dues</th><td align="center">{{ total }}</td>
				</tr>
				<tr>
					<td colspan="2" align="right"><hr></td>
				</tr>
				<tr>
					<td id="next_due_date" colspan="2" align="right"><p style="font-size:12px"><b>{{ next_due_date }}</b></p></td>
				</tr>
			</table>
			<br>
			<br>
			<table style="width:60%" border="0" cellpadding="5px">
				<tr>
					<td align="left"><b>Manager's Signature : ___________________________</b></td>
				</tr>
				<tr>
					<td align="right"><p style="font-size:10px">Print Date - {{ print_date }}</p></td>
				</tr>
				<tr>
					<td align="right">&copy;  <a href="http://www.abhishekkumar.net">AAA Developers</a></td>
				</tr>
			</table>
		</div>
	</body>
</html>