
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room Information</title>
	{% load static %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body>
    <center><h1>ROOM STATUS</h1></center>
	<hr>
    <section>
		<div class="tbl-header">
			<table cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<th>Room No.</th>
						<th>No. of Beds</th>
						<th>Tenant1</th>
						<th>Tenant2</th>
						<th>Vacancies</th>
						<th>Room Type</th>
						<th>Additional Charges (AC)</th>
            			<th>Maintenance Needed</th>
						<th>Repairs Made</th>
					</tr>
				</thead>
			</table>
		</div>
		<div class="tbl-content">
			<table cellpadding="0" cellspacing="0">
				<tbody>
					{% for student in object_list %}
						<tr>
							<td align="center">{{student.room_number}}</td>
							<td align="center">{{ student.capacity }}</td>
							<td align="center"> {{ student.tenant1 }}</td>
							<td align="center"> {{ student.tenant2 }}</td>
							<td align="center">{{ student.vacancy }}</td>
							</td><td align="center">{{ student.roomType }}</td>
							<td align="center">{{ student.additional_charges }}</td>
							<td align="center">{{student.need_maintenance}}</td>
							<td align="center">{{student.repairs}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>
</body>
</html>