
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room Information</title>
</head>
<body>
    <center><h1>ROOM STATUS</h1></center>
	<hr></hr>
    <table border="0" cellspacing="10" cellpadding="10" align="center">
		<tr><th>Room No.</th><th>No. of Beds</th><th>No. of Tenants</th><th>Vacancies</th><th>Rent (per head)</th><th>Additional Charges (AC)</th>
            <th>Maintenance Needed</th><th>Repairs Made</th>
		</tr>
	{% for student in object_list %}
		<tr><td align="center">{{Room.room_number}}</td><td align="center">{{ Room.capacity }}</td><td align="center">{{ Room.tenants }}</td>
			<td align="center">{{ Room.vacancies }}</td></td><td align="center">{{ Room.rent }}</td>
			<td align="center">{{ Room.additional_charges }}</td><td align="center">{{Room.need_maintenance}}</td>
            <td align="center">{{Room.repairs}}</td>
		</tr>
	{% endfor %}
	</table>
</body>
</html>