body{
	margin: 0px;
}
li{
	width:250px;
	height:50px;
	margin-top:30px;
	text-decoration: none;
	color: white;
	list-style-type: none;
	font-size: 25px;
}
li>a{
	color:white;
	text-decoration: none;
}
a{
    color:white;
	text-decoration: none;
}
a:HOVER {
	background: rgba(255,255,255,0.3);
}
.a1{
/* 	background-color: DarkViolet; */
	background: linear-gradient(
	    rgba(0, 0, 0, 0.30),
	    rgba(0, 0, 0, 0.30)
	), url(img/image-04.jpg) center top;
	background-size:410px 750px;
	color:white;
}
.img1{
	width:25px;
	height:25px;
	vertical-align: middle;
}
.button{
    float: left;
    text-align: center;
    width: 50%;
    margin-top: 100px;
}

.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 20px;
    font-weight: 300;
    text-decoration: none;
    border: 1px #e67e22 solid;
    border-radius: 200px;
    color: white;
    background-color: #e67e22;
}

.btn:hover,
.btn:active{
    background-color: #b2611a;
    border: 1px #b2611a solid;
}

button { cursor: pointer; }

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}