<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manager | Display Accounts</title>
</head>
<body>
    <center><h1>Transaction Details</h1></center>
	<hr></hr>
    <table border="0" cellspacing="10" cellpadding="10" align="center">
        <tr>
			<th>Transaction ID</th><th>Transaction Date</th><th>Student Id</th><th>Payment Mode</th><th>Fees paid</th>
			<th>Fine paid(If any)</th><th>Balance Fee</th><th>Total Dues</th><th>Particulars</th>
		</tr>
	{% for transaction in all_transactions %}
		<tr>
			<td align="center">{{transaction.transaction_id }}</td>
			<td align="center">{{ transaction.transaction_date }}</td>
			<td align="center">{{ transaction.sid }}</td>
			<td align="center">{{ transaction.payment_mode }}</td>
			<td align="center">{{ transaction.fees_paid }}</td>
			<td align="center">{{ transaction.fine_paid }}</td>
			<td align="center">{{ transaction.remaining_total }}</td>
			<td align="center">{{ transaction.remaining_total }}</td>
			<td align="center">{{ transaction.particulars }}</td>
		</tr>
	{% endfor %}
	</table>
</body>
</html>