<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manager | Display Accounts</title>
	{% load static %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body>
    <center><h1>Account Details</h1></center>
	<hr>

    <section>
		<div class="tbl-header">
			<table cellpadding="0" cellspacing="0">
				<thead>
        			<tr>
						<th>Employee ID</th>
						<th>Password</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Sex</th>
						<th>Aadhaar No</th>
						<th>Mobile No</th>
						<th>City</th>
						<th>User Type</th>
					</tr>
				</thead>
			</table>
		</div>
		<div class="tbl-content">
			<table cellpadding="0" cellspacing="0">
				<tbody>
					{% for employee in Employee %}
						<tr>
							<td align="center">{{employee.empid }}</td>
							<td align="center">{{ employee.password }}</td>
							<td align="center">{{ employee.first_name }}</td>
							<td align="center">{{ employee.last_name }}</td>
							<td align="center">{{ employee.sex }}</td>
							<td align="center">{{ employee.adhaar }}</td>
							<td align="center">{{ employee.mobile_no }}</td>
							</td><td align="center">{{ employee.city }}</td>
							<td align="center">{{ employee.employee_type }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>
</body>
</html>