<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventory Module | S.M.A.R.T. ERP Solutions</title>
    <style>
        .i1 {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  color: black;
  width: 300px;
  border: 0;
  margin: 0 40px 15px 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  float:left;
}
    </style>
</head>
<body>
    <div id="d1" style="width: 92%;padding-left:20px;padding-top: 1px;height: 530px;margin:30px;border-radius: 5px;background-color: white;color: rgba(100,100,100,0.7);float:left">
        <p style="width:100%;font-size: 25px;font-family: sans-serif;color: black" align="left">Inventory Module</p>
    </div>
</body>
</html>