<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ERP | Manager Panel</title>
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'registration/style.css' %}" />
    <!--<script>
    window.history.forward();
	    function noBack()
	    {
	        window.history.forward();
        }
  </script>-->
</head>
<body>
<h2>{{ Message }}</h2>
    <h1>Welcome to S.M.A.R.T. ERP Solutions Pvt. Ltd.</h1>

    <table border="1" align="center">
    {% for i, j in attr.items %}
        <tr><th>{{ i }}</th><td> {{ j }}</td></tr>
    {% endfor %}
    <a class="i1" style="margin-top: 300px;margin-left: 10px" href="/manager/register">Register Employee</a>
    <a class="i1" style="margin-left: 20px" href="/manager/view">View Employee Details</a>
    <a class="i1" style="margin-left: 20px" href="/view_rooms">Room Details</a>
    <a class="i1" style="margin-left: 20px" href="/manager/logout">Logout</a><br><br><br><br><br>
    <a class="i1" style="margin-left: 20px" href="/student/register">Register Student</a>
    <a class="i1" style="margin-left: 20px" href="/student/studentinfo">View Student info</a>
    <a class="i1" style="margin-left: 20px" href="/student/changestdinfo">Update Student info</a>
    <a class="i1" style="margin-left: 20px" href="/dues/">Account Info</a>
    <a class="i1" style="margin-left: 20px" href="/manager/deduct_fees/">Deduct Fees</a>
        <a class="i1" style="margin-left: 20px" href="/manager/all_transactions/">View transactions</a><br><br><br><br>
        <a class="i1" style="margin-left: 20px;" href="/manager/all_messages/">View Messages</a>
        <a class="i1" style="margin-left: 20px;" href="/manager/issue_notice/">Issue Notice</a>
        <a class="i1" style="margin-left: 20px;" href="/manager/inventory/">Inventory</a>


</table>
</body>
</html>