<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ERP | Inventory Logs</title>
    {% load static %}
	<link rel="stylesheet" href="{%static 'css/reset.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body>
<center><h1>Inventory Logs</h1></center>
<hr>
<section>
		<div class="tbl-header">
			<table cellpadding="0" cellspacing="0" border="1">
				<thead>
                    <tr>
                        <th>Transaction ID</th>
                        <th>Type</th>
                        <th>Date of Purchase</th>
                        <th>Item ID</th>
                        <th>Quantity</th>
                        <th>Units (gm/kg/lt/pieces)</th>
                        <th>Price</th>
                        <th>Description</th>
                    </tr>
                    </thead>
			</table>
		</div>
		<div class="tbl-content">
			<table cellpadding="0" cellspacing="0" border="1">
				<tbody>
                    {% for i in context %}
                    <tr>
                        <td>{{ i.inv_log_id }}</td>
                        <td>{{ i.type }}</td>
                        <td>{{ i.date }}</td>
                        <td>{{ i.item}}</td>
                        <td>{{i.quantity }}</td>
                        <td>{{ i.unit }}</td>
                        <td>{{i.price}}</td>
                        <td>{{i.desc}}</td>
                    {% endfor %}
                    </tr>
                </tbody>
			</table>
		</div>
	</section>
</body>
</html>