<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Tenant</title>
</head>
<body>
<h2>{{ Message }}</h2>
<h1><a href="/student/logout">Log out</a></h1>
<div class="tab">
    <a href="/student/accountlogs/{{context.sid}}">View your transactions</a>
    <a href="/student/messageroom">Send a Message</a>
    <a href="/student/changepass/{{ context.sid }}/">Change Password</a>
    <a href="/student/noticebox/">Notice</a>
</div>
<h3>Personal Details</h3>
<table cellpadding="15" align="center" width="60%" border="1">
    <tr>
        <td><b>Name:</b> {{context.first_name}} {{context.last_name}}</td>
        <td><b>Aadhar Number:</b> {{ context.adhaar }}</td>
    </tr>
    <tr>
        <td><b>Registration Number: </b> {{ context.sid }}</td>
        <td><b>Registration Date: </b> {{ context.registration_date }}</td>
    </tr>
    <tr>
        <td><b>Date of Birth:</b> 01/12/2017</td>
        <td><b>Contact Number:</b> {{ mobile_number }}</td>
    </tr>
    <tr>
        <td><b>Room Number: </b> {{ context.room.room_number }}</td>
        <td><b>Rent: </b>Rs. 6000 </td>
    </tr>
    <tr>
        <td><b>Blood Group: </b> O+</td>
        <td><b>College Name: </b>{{ context.institution_name }}</td>
    </tr>
    <tr>
        <td><b>Branch: </b> branch </td>
        <td><b>Year: </b> 4th Year</td>
    </tr>
    <tr>
        <td><b>Parent Name: </b> {{ context.parent_name }}</td>
        <td><b>Parent Contact: </b>{{ context.parent_mobile }}</td>
    </tr>
    <tr>
        <td><b>Local Guardian Name: </b> {{ context.guardian_name }} </td>
        <td><b>Guardian Contact: </b> {{ context.guardian_mobile }} </td>
    </tr>
</table>
<br>
<b>Balance: </b>Rs. {{context.balance}} <br><br>
<b>Payments Due: </b>Rs. {{context.total_dues}}<br><br>
</body>
</html>