<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Tenant</title>
</head>
<body>
<h1>Logged-in Successfully</h1>
<div class="tab">
    <a href="/student/accountlogs">Check Accounts</a>
    <a href="/student/messageroom">Send a Message</a>
</div>
<h3>Personal Details</h3>
<table cellpadding="15" align="center" width="60%" border="1">
    <tr>
        <td><b>Name:</b> Ishan Tripathi</td>
        <td><b>Aadhar Number:</b> 734066443943</td>
    </tr>
    <tr>
        <td><b>Registration Number: </b> ETL20171121</td>
        <td><b>Registration Date: </b> 27/09/2017</td>
    </tr>
    <tr>
        <td><b>Date of Birth:</b> 01/05/1996</td>
        <td><b>Contact Number:</b> 8174935383</td>
    </tr>
    <tr>
        <td><b>Room Number: </b> 201</td>
        <td><b>Rent: </b>Rs. 6000 </td>
    </tr>
    <tr>
        <td><b>Blood Group: </b> O+</td>
        <td><b>College Name: </b>SRMCEM</td>
    </tr>
    <tr>
        <td><b>Branch: </b> CSE</td>
        <td><b>Year: </b> 4th Year</td>
    </tr>
    <tr>
        <td><b>Parent Name: </b> Ashok Tripathi</td>
        <td><b>Parent Contact: </b>9451825562</td>
    </tr>
    <tr>
        <td><b>Local Guardian Name: </b> - </td>
        <td><b>Guardian Contact: </b> - </td>
    </tr>
</table>
<br>
<b>Balance: </b>Rs. <br><br>
<b>Payments Due: </b>Rs.<br><br>
</body>
</html>