<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment Details</title>
</head>
<body>
<h3>Fee Status: </h3>
<br><br>
<center><h3>PAYMENT DETAILS</h3></center>
<br><br>
<table border="0" cellspacing="10" cellpadding="10" align="center">
    <tr>
        <th>Transaction ID</th><th>Transaction Date</th><th>Credit</th><th>Debit</th>
        <th>Transaction Type</th><th>Transaction Mode</th><th>Updated Balance</th><th>Particulars</th>
    </tr>
    {% for transaction in student_transaction %}
		<tr>
			<td align="center">{{transaction.transaction_id }}</td>
			<td align="center">{{ transaction.transaction_date }}</td>
			{% if transaction.credit <= 0.0 %}
				<td align="center"></td>
			{% else %}
				<td align="center">{{ transaction.credit }}</td>
			{% endif %}
			{% if transaction.debit <= 0.0 %}
				<td align="center"></td>
			{% else %}
				<td align="center">{{ transaction.debit }}</td>
			{% endif %}
			<td align="center">{{ transaction.transaction_type }}</td>
			<td align="center">{{ transaction.transaction_mode }}</td>
			<td align="center">{{ transaction.balance }}</td>
			<td align="center">{{ transaction.remarks }}</td>
		</tr>
	{% endfor %}
</table>
</body>
</html>