<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Tenant</title>
</head>
<body>
<h1>Logged-in Successfully</h1>
<div class="tab">
    <a href="/student/accountlogs">Check Accounts</a>
    <a href="/student/messageroom">Send a Message</a>
</div>
<h3>Personal Details</h3>
<b>Name: </b><br>
Aadhaar Number:<br><br>
<b>Registration Number: </b><br>
Registration Date:<br><br>
Date of Birth:<br>
Contact Number:<br><br>
<b>Room Number: </b><br>
<b>Rent:</b><br><br>
Blood Group:<br>
College Name:<br><br>
Branch:<br>
Year:<br><br>
Parent Name:<br>
Parent Contact:<br><br>
Guardian Name:<br>
Guardian Contact:<br>
<br><br>
<b>Balance: </b>Rs. <br>
<b>Payments Due: </b>Rs.<br><br>

</body>
</html>