<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'registration/style.css' %}"/>
    <meta charset="UTF-8">
    <title>Message Room</title>
</head>
<body>
<div class="login-page" style="padding-top: 65px">
  <div class="form">

        <B>Send Message to Authority</B><br>
        <form action="/student/send_message/" method="post">
            {% csrf_token %}
            <table align="center">
                <tr>
                    <td>Subject</td>
                    <td><select name="subject" class="i1">
                        <option value="compaint" selected>Complaint</option>
                        <option value="suggestion">Suggestion</option>
                        <option value="enquiry">Enquiry</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Message</td>
                    <td><textarea cols="100" rows="10" name="body" class="i1"></textarea></td>
                </tr>
                <tr>
                    <td colspan="2"><button style="margin-left: 35px" type="submit">Submit</button></td>
                </tr>
            </table>



        </form>
  </div>
</div>
</body>
</html>