<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    {% load static %}
<link rel="shortcut icon" href="{% static 'home/emp.jpg' %}" type="image/png"/>
<title>Student Panel | S.M.A.R.T. ERP Solutions</title>
<link rel="stylesheet" type="text/css" href="{% static 'style3.css' %}">
<script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
<script type="text/javascript" language="javascript">
$(document).ready(
		function()
		{
		    var error='{{Error}}';
		    if(error!="true")
			    $(".b2").load('/student/profile/');
			if(error=="true"){
			    $(".b2").load('/student/changepass/{{context.sid}}/');
			}
			$(".x2").click(function()
					{
						$(".b2").load('/student/profile/');
					});
			$(".x3").click(function()
					{
						$(".b2").load('/student/changepass/{{context.sid}}/');
					});
			$(".x4").click(function()
					{
						$(".b2").load('/student/messageroom/');
					});
			$(".x5").click(function()
					{
						$(".b2").load('/student/accountlogs/{{context.sid}}/');
					});
			var y= '{{Message}}';
			if(y!="")
			    window.setTimeout(function() {
  					$("#Msg").fadeTo(500, 0).slideUp(500, function(){
    				$(this).remove();
  				});
				}, 5000);
		}
		);
</script>
</head>
<body>
<div class="a" style="width:100%;height:590px;overflow:hidden;">
	<div class="a1" style="width:22%;height:590px;float:left;overflow-x:hidden;overflow-y:hidden;">
		<div style="width: 100%;height: 50px;margin-left: 5px;">
			<h2 style="margin-top: 30px">S.M.A.R.T. ERP Solutions</h2>
		</div>
		<hr style="width:100%">
		<div style="width:100%;height: 540px">
			<ul style="margin-top: 60px">
				<li>
					<img class="img1" src="{% static 'img/user.png' %}">
					<a class="x2" href="#2" style="vertical-align: middle;">View Profile</a>
				</li>
				<li>
					<img class="img1" src="{% static 'img/changepass.png' %}">
					<a class="x3" href="#3" style="vertical-align: middle;">Change Password</a>
				</li>
                <li>
					<img class="img1" src="{% static 'img/message.png' %}">
					<a class="x4" href="#4" style="vertical-align: middle;">Send a message</a>
				</li>
                <li>
					<img class="img1" src="{% static 'img/fees.jpg' %}">
					<a class="x5" href="#5" style="vertical-align: middle;">View Transactions</a>
				</li>

			</ul>
		</div>
	</div>
    <div class="a3" style="background: linear-gradient(rgba(0,0,0, 0.5), rgba(249, 91, 12,0.5) ) center top;
    width:78%;height:590px;float:left;overflow-x:hidden;overflow-y:scroll;">
        <div class="b1" style="width:100%;height:60px;margin-top:30px;">
            <a href="/student/logout/" style="float:right;margin-left:20px;margin-right: 30px;text-decoration: none;font-size: 20px">Logout</a>
			<a href="/student/noticebox/" style="float:right;margin-left:20px;text-decoration: none;font-size: 20px;">Notice</a>
			<h3 id="Msg" style="float:right;margin-left:20px;text-decoration: none;font-size: 18px;padding-top: 0px;margin-top: 1px;width: 250px;height: 23px;">{{Message}}</h3>
        </div>
        <div class="b2" style="width:100%;background-color: rgba(242,242,242,0.7);height: 100%">
    <!-- 	Include here -->
        </div>
        <div class="b3" style="width:100%;height: 35px">
        <p style="width: 100%;margin-left: 680px">&copy;&nbsp;2017 <a href="http://www.abhishekkumar.net">S.M.A.R.T. ERP Solutions Pvt. Ltd.</a></p>
        </div>
    </div>
</div>
</body>
</html>