<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inbox</title>
</head>
<body>
<h1><center>Inbox</center></h1>
<hr>
<table cellpadding="10" width="100%" border="1">
    <tr>
        <th>ID</th>
        <th>FROM</th>
        <th>TIME</th>
        <th>TYPE</th>
        <th>BODY</th>
    </tr>
    {% for i in context %}
    <tr>
        <td>{{ i.message_id }}</td>
        <td>{{ i.sender }}</td>
        <td>{{ i.time_sent }}</td>
        <td>{{ i.type_of_message }}</td>
        <td>{{ i.body_of_message }}</td>
    </tr>
    {% endfor %}

</table>


</body>
</html>