* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
}
/** header stuff **/
.header li a:visited, a:link{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.header li{
    display: inline-block;
    margin: 40px;
    list-style: none;
}

.clear-fix:after {
    content: "";
    display: table;
    clear: both;
}


.container{
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(stu.jpeg);
    height: 100vh;
    background-size: cover;
    
}

.main-text {
    position:absolute;
    width: 80%;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-33%);
    color: aliceblue;
    
}

.heading {
    font-size: 50px;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 1px;
    word-spacing: 4px;
}

.quote {
    font-size: 30px;
    text-align: center;
}

.quote-text {
       

}

.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 20px;
    font-weight: 300;
    text-decoration: none;
    border: 1px #e67e22 solid;
    border-radius: 200px;
    color: white;
    background-color: #e67e22;
}

.btn:hover,
.btn:active{
    background-color: #b2611a;
    border: 1px #b2611a solid;
}

.button{
    float: left;
    text-align: center;
    width: 50%;
    margin-top: 100px;
}




